.navigator-item {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
}

.navigator-item:hover,
.navigator-item.active:hover {
  background-color: rgba(230, 230, 230);
  transition: 0.3s;
}

.navigator-item h4,
.navigator-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  white-space: nowrap;
}

.navigator-item h4 {
  font-size: 20px;
  flex-grow: 2;
}

.navigator-item p {
  font-size: 15px;
}

.navigator-item.active {
  background-color: rgb(240, 240, 240);
}

.navigator-item .toprow {
  display: flex;
  width: 100%
}
